.table-condensed{
    
}

.table-condensed-center{
  text-align: center
}

.avatar{
    font-size: 22px;
}

.avatar-descr{
    font-size: 14px;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}







/*новогодняя гирлянда*/  
.header-bar__lightrope {  
  text-align: center;  
  white-space: nowrap;  
  overflow: hidden;  
  position: absolute;  
  z-index: 1000;  
  margin: -19px 0 0 0;  
  padding: 0;  
  pointer-events: none;  
  width: 100%;  
    
}  
._ny2021 .header-bar__lightrope{  
  display: block;  
}  

.header-bar__lightrope li {  
  position: relative;  
  list-style: none;  
  padding: 0;  
  width: 8px;  
  height: 8px;  
  margin: 43px 47px 35px 47px;  
  display: inline-block;  
}  

.header-bar__lightrope li div.header-bar__bulb {  
  width:100%;  
  height:100%;  
  border-radius: 50%;  
  animation-fill-mode: both;  
  animation-iteration-count: infinite;  
  animation-name: flash-1;  
  animation-duration: 4s;  
  /*border: 1px solid #999;*/  
}  

.header-bar__lightrope li div.header-bar__light {  
  width:100%;  
  height:100%;  
  position: absolute;  
  top:0;  
  border-radius: 50%;  
  animation-fill-mode: both;  
  animation-iteration-count: infinite;  
  animation-name: flash-2;  
  animation-duration: 4s;  
}  

.header-bar__lightrope div.header-bar__bulb._green {  
  background: radial-gradient(#37b744, #73d005);  
}  

.header-bar__lightrope div.header-bar__bulb._green + div.header-bar__light{  
  box-shadow: 0 4.66px 24px 3px rgb(78 123 25 / 90%);  
}  

.header-bar__lightrope div._red {  
  background: radial-gradient(#e5615b, #e6010f);  

}  

.header-bar__lightrope div.header-bar__bulb._red + div.header-bar__light{  
  box-shadow: 0 4.66px 24px 3px rgba(255, 35, 0, 0.9);  
}  

.header-bar__lightrope div._blue {  
  background: radial-gradient(#519dff, #0060ff);  
}  

.header-bar__lightrope div.header-bar__bulb._blue + div.header-bar__light{  
  box-shadow: 0 4.66px 24px 3px rgba(0, 96, 255, 0.9);  
}  

.header-bar__lightrope div._yellow {  
  background: radial-gradient(#ffce00, #fff100);  
}  

.header-bar__lightrope div.header-bar__bulb._yellow + div.header-bar__light{  
  box-shadow: 0 4.66px 24px 3px rgb(255 230 0 / 90%);  
}  

.header-bar__lightrope li:nth-child(2n) div {  
  animation-delay:  .7s;  
}  

.header-bar__lightrope li:nth-child(3n) div {  
  animation-delay:  1.4s;  
}  

.header-bar__lightrope li:nth-child(4n) div {  
  animation-delay:  2.1s;  
}  

.header-bar__lightrope li:before {  
  content: "";  
  position: absolute;  
  background: #aca9a9;   
  width: 4px;  
  height: 3px;  
  border-radius: 2px;  
  top: -2px;  
  left: 2px;  
}  

.header-bar__lightrope li::after {  
  content: "";  
  top: -13px;  
  left: 5px;  
  position: absolute;  
  width: 104px;  
  height: 18.66px;  
  border-bottom: solid 1px #aca9a9;  
  border-radius: 50%;  
  z-index: -10;  
}  
.header-bar__lightrope li:last-child:after {  
  content: none;  
}  
.header-bar__lightrope li:first-child {  
  margin-left: 0;  
}  
@keyframes flash-1 {  
  0%, 25%, 80%, 100% {  
      opacity: var(--light-opacity);  
  }  
  50% {  
      opacity: 1;  
  }  
}  


@keyframes flash-2 {  
  0%, 20%, 80%, 100% {  
      opacity: 0;  
  }  
  50% {  
      opacity: 1;  
  }  
}  
